@page "/"
@inject IJSRuntime jsTool

<PageTitle>首頁</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>恭喜你登入了！@context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-primary mt-4" @onclick="DisPlayGreetingAlert">Greeting</button>
    </Authorized>
</AuthorizeView>

@code
{
    [CascadingParameter] Task<AuthenticationState> authenticationState { get; set; }

    async Task DisPlayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello, {authState.User.Identity.Name}";

        await jsTool.InvokeVoidAsync("alert", message);
    }
}